/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-image: url('Imagenes/fondoUdem.jpeg');
    margin: 0;
    padding: 0;
}

/* Estilos para el degradado oscuro */
body::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)); /* Degradado negro */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* Estilos para el encabezado (header) */
header {
    background-color: #E02E45;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo */
.logo img {
    width: 100px;
    height: auto;
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para los enlaces de navegación cuando se pasan por encima */
nav a:hover {
    text-decoration: underline;
}

/* Estilos para el contenedor del formulario y el contenido de requisitos */
.container {
    max-width: 600px;
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 100px; /* Ajusta el margen superior para centrar verticalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenido de requisitos */
.contenido {
    margin-top: 60px;
}

.contenido h3 {
    font-size: 20px;
    text-align: center;
}

.contenido ul {
    list-style-type: disc;
    margin-left: 20px;
}

.contenido li {
    font-size: 16px;
    margin-bottom: 10px;
}
